/* hero.css */

.hero {
    background: linear-gradient(135deg, #4caf50, #2e7d32);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px 20px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.btn {
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
